<%- model_class = Day -%>
<div class="page-header">
  <h1>Display by day</h1>
</div>
<div class="row-fluid">
  <div class="span12">
    <h3>23 March 2013</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:period) %></th>
      <th><%= model_class.human_attribute_name(:trade_id) %></th>
      <th><%= model_class.human_attribute_name(:instructor) %></th>
      <th><%= model_class.human_attribute_name(:activity) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Period 1</td>
        <td>NCIOP</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 1</td>
        <td>BOSN</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 1</td>
        <td>Diver</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 1</td>
        <td>MESO</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
</tbody>
</table>
<h4>Stand Easy (2000-2015)</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:period) %></th>
      <th><%= model_class.human_attribute_name(:trade_id) %></th>
      <th><%= model_class.human_attribute_name(:instructor) %></th>
      <th><%= model_class.human_attribute_name(:activity) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Period 2</td>
        <td>NCIOP</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 2</td>
        <td>BOSN</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 2</td>
        <td>Diver</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 2</td>
        <td>MESO</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
</tbody>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:period) %></th>
      <th><%= model_class.human_attribute_name(:trade_id) %></th>
      <th><%= model_class.human_attribute_name(:instructor) %></th>
      <th><%= model_class.human_attribute_name(:activity) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Period 3</td>
        <td>NCIOP</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 3</td>
        <td>BOSN</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 3</td>
        <td>Diver</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
      <tr>
        <td>Period 3</td>
        <td>MESO</td>
        <td>test</td>
        <td>an activity</td>
        <td>1234</td>
      </tr>
</tbody>
</table>
<h4>Hands Fall In (2145-2200)</h4>
  </div>
</div>